

<div class="card">

  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mx-2">
        <button class="btn btn-success" type="button">Conectar</button>
      </li>
      <li class="nav-item mr-2">
        <button class="btn btn-warning" type="button">Desconectar</button>
      </li>
    </ul>
  </div>

  <div class="card-body" style="overflow: scroll; height: 360px;"></div>

  <div class="card-footer">
    <form class="form-inline row g-3">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto" >
      </div>
      <div class="col-auto">
        <button class="btn btn-primary mx-3" type="submit">Enviar</button>
      </div>
    </form>
  </div>

</div>
